# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Build outputs
dist/
build/
.temp/
.tmp/
.next/
out/
.cache/
.vite/

# Logs
logs
*.log
logs/*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Test coverage
coverage/

# Local database files
*.sqlite
*.sqlite-journal

# Misc
.sass-cache/
.parcel-cache/
